@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.App #editorWrapper,
.App #previewWrapper {
  width: 50%;
  min-height: 100%;
  padding: 14px 21px;
}
.App #previewWrapper {
  background-color: #4082ef;
  color: #ffffff;
}
.App #editorWrapper #editor,
.App #previewWrapper #preview {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100%;
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: 1px;
  text-align: justify;
  word-break: break-word;
  border: none;
}
.App #previewWrapper #preview {
}
.App #editorWrapper #editor {
  overflow: auto hidden;
  resize: none;
}
.App #editorWrapper #editor:focus {
  outline: none;
}
